<!-- Give your activity page a title -->
<h1>{{ activity | title }}</h1>

<!-- make an unordered list of the activities, you will need the venues to create the activities. -->
<ul>
    <!-- use a for loop for the venue in venues and give the venue a title -->
    {% for venue in venues %}  
    <!-- first activity and on -->
    <li>
        <a href="{% url 'venue' borough activity venue %} "
        >{{ venue|title }}</a
        >
    </li>
    <!-- end your for loop before you exit the list -->
    {% endfor %}
</ul>

<a href="{% url 'city' %}">Return to Home</a>

